.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.cover-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(/src/Images/8.jpg) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

@keyframes title-in {
  0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-25%);
  }
  100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
}

.title-animation{
  animation: title-in 1500ms forwards ease-in-out 750ms;
}
.cover-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;

}

.cover-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .cover-container > h1 {
    font-size: 70px;
    margin-top: -150px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cover-container > h1 {
    font-size: 50px;
    margin-top: -100px;
    margin-left: 20px;
  }

  .cover-container > p {
    font-size: 30px;
    margin-left: 20px;
  }
}
